.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

*[aria-label="chat history header"] span[role="heading"] {
  font-weight: 700 !important;
  font-size: 12px !important;
  color: var(--picis-blue-700);
  text-transform: uppercase;
}

*[aria-label="chat history header"] button:hover,
*[aria-label="chat history header"] button:hover {
  background-color: transparent;
}

*[aria-label="chat history header"] button i[class^='icon-'],
*[aria-label="chat history header"] button i[class*=' icon-'] {
  color: var(--picis-blue-600);
}

*[aria-label="chat history panel"] {
  background-color: var(--picis-grey-100);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

*[aria-label="chat history panel content"] {
  background-color: var(--picis-grey-100);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

div:has([role="separator"])::before {
  display: none;
}

.chatRoot {
  flex: 1;
  display: flex;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  /* gap: 5px; */
}

.chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(108.78% 108.78% at 50.02% 19.78%, #ffffff 57.29%, #eef6fe 100%);
  /* box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.14),
    0px 0px 2px rgba(0, 0, 0, 0.12); */
  /* box-shadow: 0 0 0 1px var(--picis-grey-400); */
  border-radius: 16px;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

.chatContainer:has(+ *[aria-label="chat history panel"]) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.chatEmptyState {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent url(../static/picis-chatbot-arrow.svg) bottom 15% center no-repeat;
}

.chatEmptyStateTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  line-height: 24px;
  margin-top: 36px;
  margin-bottom: 0px;
}

.chatEmptyStateSubtitle {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  align-items: flex-end;
  text-align: center;
  letter-spacing: -0.01em;
  color: #616161;
}

.chatIcon {
  height: 205px;
  width: auto;
}

.chatMessageStream {
  flex-grow: 1;
  max-width: 1028px;
  width: 100%;
  overflow-y: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.chatMessageUser {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.chatMessageUserMessage {
  position: relative;
  display: flex;
  padding: 12px 20px;
  background: var(--picis-blue-100);
  border-radius: 10px;
  /* box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.14),
    0px 0px 2px rgba(0, 0, 0, 0.12); */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #242424;
  order: 0;
  flex-grow: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 80%;
  position: relative;
  margin-right: 20px;
}

.chatMessageUserMessage::before {
  content: '';
  display: block;
  width: 25px;
  height: 18px;
  background: transparent url("data:image/svg+xml,%3Csvg height='18' width='25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.298 10.669C7.176 11.25 5.5 13.167 5.5 15.542v.288c1.333.78 3.667 1.17 7 1.17s5.667-.39 7-1.17l-.01-.288c0-2.389-1.618-4.29-3.794-4.877L15 10.5c-.667.667-1.5 1-2.5 1s-1.833-.333-2.5-1zM9 5.5C8.307 2.135 10.757 1 12.5 1s4.193 1.135 3.5 4.5c-.109.528-.755 4.504-3.5 4.5C9.755 9.996 9.104 6.004 9 5.5z' fill='%2312acdf' fill-rule='evenodd'/%3E%3C/svg%3E") center center no-repeat;
  position: absolute;
  top: 0;
  right: -30px;
}

.chatMessageGpt {
  margin-bottom: 12px;
  max-width: 80%;
  display: flex;
}

.chatMessageError {
  padding: 20px;
  border-radius: 10px;
  /* box-shadow:
    rgba(182, 52, 67, 1) 1px 1px 2px,
    rgba(182, 52, 67, 1) 0px 0px 1px; */
  background: var(--picis-red-100);
  color: var(--picis-red-900);
  flex: none;
  order: 0;
  flex-grow: 0;
  max-width: 800px;
  margin-bottom: 12px;
}

.chatMessageErrorContent {
  font-family:
    'Segoe UI',
    'Segoe UI Web (West European)',
    'Segoe UI',
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    'Helvetica Neue',
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  white-space: pre-wrap;
  word-wrap: break-word;
  gap: 12px;
  align-items: center;
}

.chatInput {
  position: sticky;
  flex: 0 0 100px;
  padding-top: 12px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  width: calc(100% - 100px);
  max-width: 1028px;
  margin-bottom: 50px;
  margin-top: 8px;
}

.clearChatBroom {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 7px;
  top: 13px;
  color: var(--picis-white);
  border-radius: 4px;
  z-index: 1;
  background: var(--picis-blue-500);
}

.clearChatBroomNoCosmos {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 7px;
  top: 66px;
  color: #ffffff;
  border-radius: 4px;
  z-index: 1;
}

.newChatIcon {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 7px;
  top: 66px;
  color: var(--picis-white);
  border-radius: 4px;
  z-index: 1;
  background: var(--picis-blue-500);
}

.clearChatBroom[aria-disabled="true"],
.newChatIcon[aria-disabled="true"] {
  background: var(--picis-grey-100);
}

.clearChatBroom:not([aria-disabled="true"]):hover,
.newChatIcon:not([aria-disabled="true"]):hover {
  background: var(--picis-blue-600);
}

.clearChatBroom:not([aria-disabled="true"]):hover [class^='icon-'],
.newChatIcon:not([aria-disabled="true"]):hover [class^='icon-'],
.clearChatBroom:not([aria-disabled="true"]):hover [class*=' icon-'],
.newChatIcon:not([aria-disabled="true"]):hover [class*=' icon-'] {
  color: var(--picis-white);
}

.stopGeneratingContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  gap: 4px;
  position: absolute;
  width: 161px;
  height: 32px;
  left: calc(50% - 161px / 2 + 25.8px);
  bottom: 116px;
  border: 1px solid #d1d1d1;
  border-radius: 16px;
}

.stopGeneratingIcon {
  width: 14px;
  height: 14px;
  color: #424242;
}

.stopGeneratingText {
  width: 103px;
  height: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #242424;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.citationPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px;
  gap: 8px;
  background: #ffffff;
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.14),
    0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  flex: auto;
  order: 0;
  align-self: stretch;
  flex-grow: 0.3;
  max-width: 30%;
  overflow-y: scroll;
  max-height: calc(100vh - 100px);
}

.citationPanelHeaderContainer {
  width: 100%;
}

.citationPanelHeader {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.citationPanelDismiss {
  width: 18px;
  height: 18px;
  color: #424242;
}

.citationPanelDismiss:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

.citationPanelTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #323130;
  margin-top: 12px;
  margin-bottom: 12px;
}

.citationPanelTitle:hover {
  text-decoration: underline;
  cursor: pointer;
}

.citationPanelContent {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.exectResultList {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-bottom: 1px solid #ccc;
  margin-top: 12px;
}

.exectResultList:first-child {
  margin-top: 0;
}

.exectResultList:last-child {
  border-bottom: none;
}

.exectResultList > p {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin: 0;
  margin-bottom: 16px;
}

.exectResultList > span {
  font-weight: 600;
}

a {
  padding-left: 5px;
  padding-right: 5px;
  color: var(--picis-blue-600);
}

.viewSourceButton {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #115ea3;
  flex-direction: row;
  align-items: center;
  padding: 4px 6px;
  gap: 4px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.viewSourceButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.uploadedImageChat {
  position: absolute;
  right: -23px;
  bottom: -35px;
  max-width: 70%;
  max-height: 70%;
  border-radius: 4px;
}

@media (max-width: 480px) {
  .chatInput {
    width: 90%;
    max-width: 90%;
  }

  .newChatIcon {
    left: 0px;
  }

  .clearChatBroom {
    left: 0px;
  }

  .clearChatBroomNoCosmos {
    left: 0px;
  }

  .chatEmptyStateTitle {
    line-height: 36px;
  }

  .citationPanel {
    max-width: 100%;
  }
}
