# Chat
DEBUG=True
AZURE_OPENAI_RESOURCE=
AZURE_OPENAI_MODEL=
AZURE_OPENAI_KEY=
AZURE_OPENAI_MODEL_NAME=gpt-35-turbo-16k
AZURE_OPENAI_TEMPERATURE=0
AZURE_OPENAI_TOP_P=1.0
AZURE_OPENAI_MAX_TOKENS=1000
AZURE_OPENAI_STOP_SEQUENCE=
AZURE_OPENAI_SEED=
AZURE_OPENAI_CHOICES_COUNT=1
AZURE_OPENAI_PRESENCE_PENALTY=0.0
AZURE_OPENAI_FREQUENCY_PENALTY=0.0
AZURE_OPENAI_LOGIT_BIAS=
AZURE_OPENAI_USER=
AZURE_OPENAI_TOOLS=
AZURE_OPENAI_TOOL_CHOICE=
AZURE_OPENAI_SYSTEM_MESSAGE=You are an AI assistant that helps people find information.
AZURE_OPENAI_PREVIEW_API_VERSION=2024-05-01-preview
AZURE_OPENAI_STREAM=True
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_EMBEDDING_NAME=
AZURE_OPENAI_EMBEDDING_ENDPOINT=
AZURE_OPENAI_EMBEDDING_KEY=
# User Interface
UI_TITLE=
UI_LOGO=
UI_CHAT_LOGO=
UI_CHAT_TITLE=
UI_CHAT_DESCRIPTION=
UI_FAVICON=
# Chat history
AZURE_COSMOSDB_ACCOUNT=
AZURE_COSMOSDB_DATABASE=db_conversation_history
AZURE_COSMOSDB_CONVERSATIONS_CONTAINER=conversations
AZURE_COSMOSDB_ACCOUNT_KEY=
AZURE_COSMOSDB_ENABLE_FEEDBACK=False
# Chat with data: common settings
DATASOURCE_TYPE=
SEARCH_TOP_K=5
SEARCH_STRICTNESS=3
SEARCH_ENABLE_IN_DOMAIN=True
# Chat with data: Azure AI Search
AZURE_SEARCH_SERVICE=
AZURE_SEARCH_INDEX=
AZURE_SEARCH_KEY=
AZURE_SEARCH_SEMANTIC_SEARCH_CONFIG=
AZURE_SEARCH_INDEX_IS_PRECHUNKED=False
AZURE_SEARCH_TOP_K=5
AZURE_SEARCH_ENABLE_IN_DOMAIN=False
AZURE_SEARCH_CONTENT_COLUMNS=
AZURE_SEARCH_FILENAME_COLUMN=
AZURE_SEARCH_TITLE_COLUMN=
AZURE_SEARCH_URL_COLUMN=
AZURE_SEARCH_VECTOR_COLUMNS=
AZURE_SEARCH_QUERY_TYPE=simple
AZURE_SEARCH_PERMITTED_GROUPS_COLUMN=
AZURE_SEARCH_STRICTNESS=3
# Chat with data: Azure CosmosDB Mongo VCore
AZURE_COSMOSDB_MONGO_VCORE_CONNECTION_STRING=
AZURE_COSMOSDB_MONGO_VCORE_DATABASE=
AZURE_COSMOSDB_MONGO_VCORE_CONTAINER=
AZURE_COSMOSDB_MONGO_VCORE_INDEX=
AZURE_COSMOSDB_MONGO_VCORE_INDEX=
AZURE_COSMOSDB_MONGO_VCORE_TOP_K=
AZURE_COSMOSDB_MONGO_VCORE_STRICTNESS=
AZURE_COSMOSDB_MONGO_VCORE_ENABLE_IN_DOMAIN=
AZURE_COSMOSDB_MONGO_VCORE_CONTENT_COLUMNS=
AZURE_COSMOSDB_MONGO_VCORE_FILENAME_COLUMN=
AZURE_COSMOSDB_MONGO_VCORE_TITLE_COLUMN=
AZURE_COSMOSDB_MONGO_VCORE_URL_COLUMN=
AZURE_COSMOSDB_MONGO_VCORE_VECTOR_COLUMNS=
# Chat with data: Elasticsearch
ELASTICSEARCH_ENDPOINT=
ELASTICSEARCH_ENCODED_API_KEY=
ELASTICSEARCH_INDEX=
ELASTICSEARCH_QUERY_TYPE=
ELASTICSEARCH_TOP_K=
ELASTICSEARCH_ENABLE_IN_DOMAIN= 
ELASTICSEARCH_CONTENT_COLUMNS= 
ELASTICSEARCH_FILENAME_COLUMN=
ELASTICSEARCH_TITLE_COLUMN=
ELASTICSEARCH_URL_COLUMN=
ELASTICSEARCH_VECTOR_COLUMNS=
ELASTICSEARCH_STRICTNESS=
ELASTICSEARCH_EMBEDDING_MODEL_ID= 
# Chat with data: Pinecone
PINECONE_ENVIRONMENT=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
PINECONE_TOP_K=
PINECONE_STRICTNESS=
PINECONE_ENABLE_IN_DOMAIN=
PINECONE_CONTENT_COLUMNS=
PINECONE_FILENAME_COLUMN=
PINECONE_TITLE_COLUMN=
PINECONE_URL_COLUMN=
PINECONE_VECTOR_COLUMNS= 
# Chat with data: Azure Machine Learning MLIndex
AZURE_MLINDEX_NAME=
AZURE_MLINDEX_VERSION=
AZURE_ML_PROJECT_RESOURCE_ID=
AZURE_MLINDEX_TOP_K= 
AZURE_MLINDEX_STRICTNESS= 
AZURE_MLINDEX_ENABLE_IN_DOMAIN=
AZURE_MLINDEX_CONTENT_COLUMNS= 
AZURE_MLINDEX_FILENAME_COLUMN=
AZURE_MLINDEX_TITLE_COLUMN= 
AZURE_MLINDEX_URL_COLUMN= 
AZURE_MLINDEX_VECTOR_COLUMNS=
AZURE_MLINDEX_QUERY_TYPE=
# Chat with data: Prompt flow API
USE_PROMPTFLOW=False
PROMPTFLOW_ENDPOINT=
PROMPTFLOW_API_KEY=
PROMPTFLOW_RESPONSE_TIMEOUT=120
PROMPTFLOW_REQUEST_FIELD_NAME=query
PROMPTFLOW_RESPONSE_FIELD_NAME=reply
PROMPTFLOW_CITATIONS_FIELD_NAME=documents
# Chat with data: MongoDB database
MONGODB_ENDPOINT=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DATABASE_NAME=
MONGODB_COLLECTION_NAME=
MONGODB_APP_NAME=
MONGODB_INDEX_NAME=
MONGODB_TOP_K=
MONGODB_STRICTNESS=
MONGODB_ENABLE_IN_DOMAIN=
MONGODB_CONTENT_COLUMNS=
MONGODB_FILENAME_COLUMN=
MONGODB_TITLE_COLUMN=
MONGODB_URL_COLUMN=
MONGODB_VECTOR_COLUMNS=
