-r requirements.txt
azure-ai-formrecognizer==3.2.1
Markdown==3.4.4
requests==2.32.2
tqdm==4.66.3
tiktoken==0.4.0
langchain==0.2.3
bs4==0.0.1
urllib3==2.2.2
pytest==7.4.0
pytest-asyncio==0.23.2
azure-storage-blob
chardet
azure-keyvault-secrets