azure-identity==1.13.0
Flask==2.3.2
openai==0.27.7
azure-search-documents==11.4.0b6
azure-storage-blob==12.17.0
python-dotenv==1.0.0
requests~=2.31.0
tqdm~=4.65.0
urllib3~=2.0.4
tiktoken~=0.4.0
beautifulsoup4~=4.12.2
langchain==0.0.249
azure-ai-formrecognizer==3.2.1