azure-identity==1.15.0
openai==1.6.1
azure-search-documents==11.4.0b6
azure-storage-blob==12.17.0
python-dotenv==1.0.0
azure-cosmos==4.5.0
Quart==0.19.6
Hypercorn==0.17.3
uvicorn==0.30.6
aiohttp==3.10.5
gunicorn==23.0.0
pydantic-settings==2.4.0
httpx==0.27.0
