.questionInputContainer {
  height: 120px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  max-width: 1028px;
  margin: 0 auto;
}

.questionInputTextArea {
  width: 100%;
  margin: 0;
}

.questionInputSendButtonContainer {
  position: absolute;
  right: 30px;
  bottom: 45px;
}

.questionInputSendButton {
  color: #ff4c00;
  width: 24px;
  height: 23px;
}

.questionInputSendButton:hover {
  cursor: pointer;
}

.questionInputSendButtonDisabled {
  width: 24px;
  height: 23px;
  background: none;
  color: #424242;
}

.questionInputOptionsButton {
  cursor: pointer;
  width: 27px;
  height: 30px;
}

.fileInputContainer {
  position: absolute;
  left: 30px;
  top: 48px;
  rotate: 180;
}

.fileInput {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileLabel {
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.fileIcon {
  font-size: 20px;
  color: white;
}

.uploadedImage {
  margin-right: 70px;
}

@media (max-width: 480px) {
  .fileIcon {
    font-size: 20px;
  }
}
