.questionInputContainer {
  height: 120px;
  position: absolute;
  left: 6.5%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.questionInputTextArea {
  width: 100%;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

.questionInputSendButtonContainer {
  position: absolute;
  right: 24px;
  bottom: 20px;
}

.questionInputSendButton {
  width: 24px;
  height: 23px;
}

.questionInputSendButtonDisabled {
  /* opacity: 0.4; */
  width: 24px;
  height: 23px;
  background: none;
  color: #424242;
}

.questionInputBottomBorder {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0%;
  bottom: 0%;
  background: radial-gradient(
    106.04% 106.06% at 100.1% 90.19%,
    #0f6cbd 33.63%,
    #8dddd8 100%
  );
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.questionInputOptionsButton {
  cursor: pointer;
  width: 27px;
  height: 30px;
}

.question_style {
  width: 92%;
}
.image_flex{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.text_prompt {
  background-color: #8dddd8;
  padding: 5px 7px;
  width: fit-content;
  border-radius: 10px;
  opacity: 0.5;
  color: #0f6cbd;
  margin-top: 5px;
  margin-bottom: -10px;
  font-weight: 500;
  display: flex;
  gap: 6px;
}
.close {
  color: black;
  cursor: pointer;
}

.file_position {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}

.circleProgressContainer {
  position: relative;
  width: 42px; /* Adjust the width and height as needed */
  height: 34px;
  margin-top: -6px;
}

.circleProgress {
  position: absolute;
  top: 0;
  left: 0;
}

.circleProgress svg {
  width: 100%;
  height: 100%;
}

.circleProgress circle {
  fill: none;
  stroke-width: 4; /* Adjust the stroke width as needed */
}

.circleProgress .circleBackground {
  stroke: #f0f0f0; /* Background color */
}

.circleProgress .circleProgressIndicator {
  stroke: #0078d4; /* Progress color */
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s;
}

.circlePercentage {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px; /* Adjust font size as needed */
  font-weight: bold;
  fill: #000; /* Text color */
}
.fileInput_lable {
  cursor: pointer;
}

.fileInput {
  display: none;
}

.fileInput_Image {
  width: 30px;
  height: 30px;
}
.file_Icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 480px) {
  .questionInputContainer {
    left: 16.5%;
  }
}
