.bottomContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: min(1010px, calc(100% - 48px));
  width: 100%;
  background-color: #111111;
  z-index: 10;
}

.questionInputContainer {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 20px;
  border-radius: 8px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 15px 0 3px;
  background-color: #111111;
  padding-bottom: 20px;
  min-height: 100px;
}

.questionInputTextArea {
  background-color: white;
  margin: 0 auto;
  width: 100%;
}

.questionInputSendButtonContainer {
  position: absolute;
  right: 25px;
  bottom: 45px;
}

.questionInputSendButton {
  color: #fbdd6e;
  width: 24px;
  height: 23px;
}

.questionInputSendButton:hover {
  cursor: pointer;
}

.questionInputSendButtonDisabled {
  width: 24px;
  height: 23px;
  background: none;
  color: #424242;
}

.questionInputOptionsButton {
  cursor: pointer;
  width: 27px;
  height: 30px;
}

.fileInputContainer {
  position: absolute;
  left: 30px;
  top: 48px;
  rotate: 180;
}

.fileInput {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileLabel {
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.fileIcon {
  font-size: 20px;
  color: white;
}

.uploadedImage {
  margin-right: 70px;
}

.disclaimer {
  position: fixed;
  font-size: 12px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0;
  color: white;
  z-index: 12;
  text-align: center;
  border-radius: 8px;
  width: 100%;
}

@media (max-width: 480px) {
  .fileIcon {
    font-size: 20px;
  }
  .questionInputContainer {
    max-width: 90vw;
    padding: 0;
    padding-bottom: 20px;
  }
  .questionInputSendButtonContainer {
    right: 10px;
    bottom: 45px;
  }
}
