.questionInputContainer {
  height: 56px;
  border-radius: 8px;
  border: 2px solid #eaeef1;
  background: var(--white, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

@media only screen and (max-width: 600px) {
  .questionInputContainer {
    width: 100%;
  }
}

.questionInputTextArea {
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

.questionInputSendButton {
  display: flex;
  width: 120px;
  height: 46px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
  border-radius: 5px;
  background: linear-gradient(15deg, #e10145 0%, #ff6f9a 92.71%);
}

.questionInputSendButtonDisabled {
  /* opacity: 0.4; */
  width: 24px;
  height: 23px;
  background: none;
  color: #424242;
}

.questionInputOptionsButton {
  cursor: pointer;
  width: 27px;
  height: 30px;
}
