.card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: #eccb3c;
  width: 500px;
  /* min-height: 350px; */
  padding:30px;
  border-radius: 20px;
  overflow: hidden;
}

.card img {
  margin-top: -20%;
  width: 100%;
  border-radius: 20px;
}

.card h2 {
  margin: 0;
  margin-top: 1rem;
}

.card p {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.card .btnn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carouselWrapper > div > div{
  align-items: normal;
}

@media (max-width: 575px) {
  .card {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      justify-content: center;
      background-color: #eccb3c;
      width: 320px;
     padding: 20px;

      border-radius: 20px;
    }
}

.cardTitle {
  text-align: left;
  color: #151B1E;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Single line truncation */
}
.cardDetail {
  color: #151B1E;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 13; /* Number of lines to show */
  -webkit-box-orient: vertical;
  white-space: normal; /* Allow wrapping for line clamping */
}
