.contentStackContainer {
    max-width: 1040px;
    width: 100%;
    height: 100%;
}
 
.resetDiv {
    cursor: pointer;
    color: #FFFFFF;
    position: absolute;
    right: 30px;
    z-index: 5;
}
 
.resetButton {
    background: #2F3A40;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: normal;
    padding: 15px 30px;
}
.resetButton:hover {
    background-color: #2F3A40;
    color: black;
    border-color: #FFFFFF;
  }
.tagTypeStack {
    padding: 0 0 15px;
}
 
.heading {
    color: rgba(255, 255, 255, 0.40);
    text-transform: capitalize;
    font-size: 18px;
}
 
.mainStackTags {
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 33px;
}
.mainStackTags:last-of-type{
    margin-bottom: 0;
}
 
.stackitem {
    min-width: calc((100% / 3) - 14px);
    max-width: fit-content;
}
 
.tagButton {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
    padding: 18px;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
}
 
.footerMainStack {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    padding: 0px 30px;
}
 
.buttonContainer {
    margin-top: 0 !important;
    /* width: 20%; */
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
 
.inputContainer {
    width: 100% !important
}
.inputFieldContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 100%;
}

.mainInputField {
    border-radius: 20px;
    width: 100%;
    /* height: 400px; */
    background-color: #313F46;
    color: black;
    box-shadow: none;
  }

  .desktopTextField {
    display: flex;
    flex-direction: column;
    flex: 0 0 35%;
    padding-top: 60px;
}
 
.footer {
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    bottom: 20px;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
}
.mainContentStackContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.mainStackContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    position: relative;
    width: 100%;
    padding: 0 30px;
}
@media all and (orientation:portrait){
    .desktopTextField {
        display: none;
    }
    .mainContentStackContainer{
        flex: 0 0 100%;
        height: calc(100vh - 190px);
        overflow-y: auto;
        margin-top: 0;
    }
    .footer {
        display: flex;
    }

}

@media all and (max-width:575px){

    .mainStackTags {
        gap: 10px;
    }

    .stackitem {
        width: auto;
        min-width: calc(33.33% - 7px);
    }
    .tagButton {
        font-size: 16px;
        padding: 15px;
    }
    .resetButton{
        padding: 7px 9px;
    }
}

/* ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
} */
