.typingIndicator span {
  height: 10px;
  width: 10px;
  float: left;
  margin: 0 1px;
  background-color: white;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.typingIndicator span:nth-child(1) {
  animation: 1s blink infinite 0.3333s;
}

.typingIndicator span:nth-child(2) {
  animation: 1s blink infinite 0.6666s;
}

.typingIndicator span:nth-child(3) {
  animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
