.mainStackContainer {
    overflow: hidden;
    width: 100%;
    max-width: 1040px;
    padding: 50px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}
 
.headerMainStackContainer {
    position: sticky;
    width: 100%;
    z-index: 1000;
    color: #fff;
    text-align: center;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.headerStackContainer {
    width: 100%;
    padding: 0px 30px;
    max-width: 1040px;
}
 
.contentMainStackContainer {
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; 
    /* justify-content: center; if dont want to add it by isloading conditionaly*/
}
.contentStackContainerWalkthrough {
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
}

.walkThroughStackContainer {
    max-width: 1040px;
    width: 100%;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; 
}

.contentStackContainer {
    max-width: 1040px;
    padding: 0px 30px;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}
 
.footerMainStackContainer {
    color: #fff;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
 
.footerStackContainer {
    width: 100%;
    max-width: 1040px;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    align-items: center;
}
 
.headingDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 0 0 8px;
}
.backButton {
    flex-shrink: 0;
}
.headingText {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap; /* Prevents text from wrapping */
    flex-grow: 1; /* Allows the text to grow */
    max-width: calc(100% - 60px);
    color: #FFFFFF;
    font-size: 26px;
    line-height: 100%; 
}

.noDataDiv {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap; /* Prevents text from wrapping */
    flex-grow: 1; /* Allows the text to grow */
    max-width: calc(100% - 60px);
    color: #FFFFFF;
    font-size: 26px;
    line-height: 100%;
}
.thankuText {
    color: #FFFFFF;
    display: flex;
    align-items: flex-start;
    font-size: 26px;
    line-height: 100%;
}

.noDataText {
    color: #8f9ca0;
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    line-height: 100%;
}
 
.button {
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    padding: 25px;
    border: none
}

@media all and (orientation=portrait){
    .walkThroughStackContainer{
        min-height: auto;
    }

    .mainStackContainer {
        width: 100%;
        padding: 30px 0 20px 0;
    }
}
@media all and (max-width: 767px) {
 
    .contentStackContainer {        
        row-gap: 10px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
 
    .headingText {
        font-size: 18px;
        font-weight: 600;
    }

    .thankuText {
        font-size: 18px;
        font-weight: 600;
    }

    .button {
        font-size: 18px;
        font-weight: 600;
        padding: 25px;
    }
}

@media all and (max-width:575px){
    .contentStackContainer {
        padding: 0px 20px;
    }
    .headerStackContainer {
        padding: 0px 20px;
    }
    .footerStackContainer {
        padding: 0px 20px;
    }
    .noDataText {
        color: #8f9ca0;
        display: flex;
        align-items: flex-start;
        font-size: 16px;
        line-height: 100%;
    }
}

@media all and (min-width:576px){
    .headingText{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
}