.mainStackContainer {
    /* height: 100vh; */
    overflow: hidden;
    width: 100%;
    /* margin-top:30px */
    max-width: 1040px;
}
 
.headerMainStackContainer {
    position: sticky;
    width: 100%;
    z-index: 1000;
    color: #fff;
    /* padding: 10px 20px; */
    text-align: center;
    top: 0;
    /* height: 130px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
 
.headerStackContainer {
    width: 100%;
    padding: 0px 20px;
    max-width: 1040px;

 
}
 
.contentMainStackContainer {
    /* margin-top: 130px; */
    /* margin-bottom: 70px; */
    /* overflow-y: auto; */
    padding: 20px 0px 20px 0px;
    /* height: calc(100vh - 200px); */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.walkThroughStackContainer{
    min-height: 350px;
}
.contentStackContainer {
    max-width: 1040px;
    padding: 0px 20px;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.contentStackContainerWalkthrough {
    padding: 40px 0;
    min-height: calc(100vh - 350px);
}
 
.footerMainStackContainer {
    color: #fff;
    text-align: center;
    margin-top: auto;
}
 
.footerStackContainer {
    width: 100%;
    max-width: 1040px;

    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    align-items: center;
}
 
.headingDiv {
    display: flex;
    width: 100%;
    padding: 0px;
    align-items: flex-start;
    padding: 0 0 10px;
}
 
.headingText {
    color: #FFFFFF;
    display: flex;
    align-items: flex-start;
    font-size: 26px;
    line-height: 100%;
}
 
.button {
    width: 100%;
    font-size: large;
    border-radius: 10px;
    padding: 30px;
    background: black;
    border: none
}

@media all and (orientation=portrait){
    .walkThroughStackContainer{
        min-height: auto;
    }

    .mainStackContainer {
        width: 100%;
    }
}
@media all and (max-width: 767px) {
 
    .contentStackContainer {        
        row-gap: 10px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
 
    .headerStackContainer {
        width: 100%;
        padding:0px 20px;
    }
 
    .footerStackContainer {
        width: 100%;
        padding:0px 20px;
    }
 
    /* .button {
        width: 100%;
        margin-top: 20px;
        height: 56px;
    } */
 
    .headingText {
        font-size: 18px;
        font-weight: 600;
    }
}