.mainStackContainer {
    /* height: 100vh; */
    overflow: hidden;
    width: 100%;
    /* margin-top:30px */
    max-width: 1040px;
}
 
.headerMainStackContainer {
    position: sticky;
    width: 100%;
    z-index: 1000;
    color: #fff;
    /* padding: 10px 20px; */
    text-align: center;
    top: 0;
    /* height: 130px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
 
.headerStackContainer {
    width: 100%;
    padding: 0px 20px;
    max-width: 1040px;

 
}
 
.contentMainStackContainer {
    /* margin-top: 130px; */
    /* margin-bottom: 70px; */
    /* overflow-y: auto; */
    margin-top: 15px;
    padding: 20px 0px 0px 0px;
    /* height: calc(100vh - 200px); */
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.contentStackContainer {
    max-width: 1040px;
    padding: 0px 20px;
    display: flex;
    column-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.contentStackContainerWalkthrough {
    width: 100%;
    padding: 0px 20px 0px 20px;
}
 
.footerMainStackContainer {
    /* position: sticky; */
    width: 100%;
    z-index: 1000;
    color: #fff;
    /* padding: 20px 20px; */
    text-align: center;
    /* bottom: 0; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}
 
.footerStackContainer {
    width: 100%;
    max-width: 1040px;

    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    align-items: center;
}
 
.headingDiv {
    display: flex;
    width: 100%;
    padding: 0px;
    align-items: flex-start;
    padding: 0 0 10px;
}
 
.headingText {
    color: white;
    display: flex;
    align-items: flex-start;
    font-size: 26px;
    line-height: 100%;
}
 
.button {
    width: 100%;
    font-size: large;
    border-radius: 10px;
    padding: 25px;
    background: black;
    border: none
}
 
@media (max-width: 767px) {
    .contentMainStackContainer {
        /* height: calc(100vh - 220px); */
    }
 
    .contentStackContainer {
        
        row-gap: 10px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
 
    .headerMainStackContainer {
        height: 130px;
    }
 
    .headerStackContainer {
        width: 100%;
        padding:0px 20px;
    }
 
    .footerStackContainer {
        width: 100%;
        padding:0px 20px;
    }
 
    .button {
        width: 100%;
        margin-top: 20px;
        height: 56px;
    }
 
    .headingText {
        font-size: 20px;
    }
}