.layout {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* background: rgb(58,73,81); */
  background-image: url("../../assets//BP-BG.png");
  /* background: linear-gradient(200deg, rgba(58,73,81,1) 0%, rgba(35,44,48,1) 80%, rgba(58,73,81,1) 99%); */
}
 
.header {
  background-color: #f2f2f2;
}
 
.headerContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}
 
.headerTitleContainer {
  display: flex;
  align-items: center;
  margin-left: 14px;
  text-decoration: none;
}
 
.headerTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  color: #242424;
}
 
.headerIcon {
  height: 32px;
  width: auto;
  margin-left: 36px;
}
 
.shareButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
}
 
.shareButton {
  color: #ffffff;
}
 
.shareButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
 
.urlTextBox {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #707070;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}
 
.copyButtonContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  gap: 4px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}
 
.copyButtonContainer:hover {
  cursor: pointer;
  background: #d1d1d1;
}
 
.copyButton {
  color: #424242;
}
 
.copyButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #242424;
}
 
 
@media (max-width: 480px) {
  .headerTitleContainer {
    margin-left: 4px;
  }
 
  .headerIcon {
    margin-left: 26px;
  }
}
 
.inputField {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  border-radius: 35px;
  padding: 15px;
  background-color: #909B97;
 
  box-shadow: none;
  border: 2px solid #378588;
}
 
.mainInputField {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 10px;
  border-radius: 50px;
  background-color: #909B97;
  color: black;
  box-shadow: none;
}
.focusInputField {
  display: flex;
  align-items: center;
  width: 100%;
  height: 260px;
  border-radius: 50px;
  background-color: #909B97;
 
  box-shadow: none;
}
 
.textFieldDiv{
  width:"100%"
}
 
@media all and (max-width:575px){
  .mainInputField{
    padding: 14px 10px;
  }
}
/*
@media (max-width: 480px) {
  .inputField {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 35px;
    padding: 15px;
    box-shadow: none;
    border: 2px solid #378588;
  }
 
  .focusInputField {
    display: flex;
    align-items: center;
    height: 180px;
    border-radius: 16px;
    padding: 15px;
    box-shadow: none;
  }
} */
 
/* @media (max-width: 1000px) and (min-width: 500px) {
  .mainInputField {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    padding: 15px;
    box-shadow: none;
  }
} */
/*
@media (max-width: 2520px) and (min-width: 1000px) {
  .inputField {
    display: flex;
    align-items: center;
    width: 35%;
    height: 72px;
    border-radius: 35px;
    padding: 15px;
    box-shadow: none;
    border: 2px solid #378588;
  }
  .mainInputField {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    padding: 15px;
    box-shadow: none;
  }
  .focusInputField {
    display: flex;
    align-items: center;
    width: 100%;
    height: 255px;
    border-radius: 24px;
    padding: 15px;
    box-shadow: none;
  }
 
  .textFieldDiv{
    width:"86%"
  }
} */
