.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  background-color: #a3a39e;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.customStack {
  width: 100%;
  display: block !important;
}

.headerIconMain {
  flex: 0 0 auto;
}

.headerIcon {
  height: 40px;
  width: auto;
  margin-left: 36px;
}

.centerHeader {
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: center;
}

.headerTitleContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.headerTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  display: flex;
  color: #242424;
  text-align: center;
}

.buttonDiv {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
  margin-right: 40px;
  color: #ffffff;
}

.historyDiv {
  margin-right: 20px;
}

.userDiv {
}

.historyIcon,
.MdVisibilityOff {
  color: white;
}

.usercontainer {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
}

.userIconContainer {
  font-weight: bolder;
}

.userIcon {
  height: 20px;
  width: 20px;
}

.username {
  font-weight: bold;
}

.shareButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  gap: 4px;
  width: 86px;
  height: 32px;
  background: radial-gradient(
      109.81% 107.82% at 100.1% 90.19%,
      #0f6cbd 33.63%,
      #2d87c3 70.31%,
      #8dddd8 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.shareButton {
  color: #ffffff;
}

.shareButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.urlTextBox {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #707070;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.copyButtonContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  gap: 4px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.copyButtonContainer:hover {
  cursor: pointer;
  background: #d1d1d1;
}

.copyButton {
  color: #424242;
}

.copyButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #242424;
}

.feedbackDiv {
  position: relative;
  padding: 10px 20px;
  height: 35px;
  width: 35px;
}

.anchor {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
}

.clearChatBroom {
  color: #ffffff;
  border-radius: 4px;
  z-index: 1;
}