.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #0078D4;
    color: #f2f2f2;
}

.headerContainer {
    display: flex;
    justify-content: left;
    margin-right: 12px;
    margin-left: 12px;
    align-items: center;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 100px;
    color: #f2f2f2;
    text-decoration: none;
}

.headerLogo {
    height: 40px;
}

.headerTitle {
    margin-left: 12px;
    font-weight: 600;
}
