.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: #0B1F2C;
}

.headerContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.headerTitleContainer {
  display: flex;
  align-items: center;
  margin-left: 14px;
  text-decoration: none;
}

.headerTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}

.headerIcon {
  height: 32px;
  width: auto;
  margin-left: 36px;
}

.shareButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
}

.shareButtonText {
  font-size: px; /* Adjust this value to your desired font size */
}

@media (max-width: 480px) {
  .headerTitleContainer {
    margin-left: 4px;
  }

  .headerTitle {
    font-size: 16px;
  }

  .headerIcon {
    margin-left: 26px;
  }
}
