.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #a3a39e;
    padding: 10px;
    align-items: center;
    display: flex; 
}

.headerIconMain{
    width: auto;
}

.headerIcon {
    height: 40px;
    width: auto;
    margin-left: 36px;
}

.centerHeader{
    display: flex;
    flex-direction: column;    
    margin-left: auto;
    justify-content: center;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.headerTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    display: flex;
    color: #242424;
    text-align: center;
    margin-left: 250px;
}

.shareButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 4px;
    width: 86px;
    height: 32px;
    background: radial-gradient(109.81% 107.82% at 100.1% 90.19%, #0F6CBD 33.63%, #2D87C3 70.31%, #8DDDD8 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.shareButton {
    color: #FFFFFF;
}

.shareButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.urlTextBox {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #707070;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
}

.copyButtonContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 4px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
}

.copyButtonContainer:hover {
    cursor: pointer;
    background: #D1D1D1;
}

.copyButton {
    color: #424242;
}

.copyButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #242424;
}