.shareButtonRoot {
    width: 86px;
    height: 32px;
    border-radius: 4px;
    background: radial-gradient(109.81% 107.82% at 100.1% 90.19%, #0F6CBD 33.63%, #2D87C3 70.31%, #8DDDD8 100%);
    padding: 5px 12px;
  }
  
  .shareButtonRoot:hover {
    background: linear-gradient(135deg, #0F6CBD 0%, #2D87C3 51.04%, #8DDDD8 100%);
  }
  
  .shareButtonRoot span {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .shareButtonRoot i, .shareButtonRoot:hover i {
    color: #FFFFFF !important;
  }
  
  .historyButtonRoot {
    width: 180px;
    border: 1px solid #D1D1D1;
  }

  .historyButtonRoot:hover {
    border: 1px solid #D1D1D1;
  }

  .historyButtonRoot:active {
    border: 1px solid #D1D1D1;
  }

  @media (max-width: 480px) {
    .shareButtonRoot {
      width: auto; 
      padding: 5px 8px; 
    }

    .historyButtonRoot {
      width: auto;
      padding: 0 8px  
    }
  }