.contentMainStackContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
 
.contentStackContainer {
    width: 100%;
    max-width: 1040px;
    gap:15px;
    padding: 0px 20px;
}
@media all and (orientation=portrait){

}
