* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 20;
  padding: 20;
}

html {
  background: #fffffff;
  font-family:
    'Segoe UI',
    'Segoe UI Web (West European)',
    'Segoe UI',
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
