DATASOURCE_TYPE={{ DATASOURCE_TYPE }}
AZURE_OPENAI_ENDPOINT={{ AZURE_OPENAI_ENDPOINT }}
AZURE_OPENAI_MODEL={{ AZURE_OPENAI_MODEL }}
{% if not USE_MI %}
AZURE_OPENAI_KEY={{ AZURE_OPENAI_KEY }}
{% endif %}
AZURE_OPENAI_TEMPERATURE=0
AZURE_OPENAI_TOP_P=1.0
AZURE_OPENAI_MAX_TOKENS=1000
AZURE_OPENAI_STOP_SEQUENCE=
AZURE_OPENAI_SYSTEM_MESSAGE=You are an AI assistant that helps people find information.
AZURE_OPENAI_PREVIEW_API_VERSION=2024-05-01-preview
AZURE_OPENAI_STREAM={{ AZURE_OPENAI_STREAM }}
{% if USE_AOAI_EMBEDDINGS and AZURE_OPENAI_EMBEDDING_NAME %}
AZURE_OPENAI_EMBEDDING_NAME={{ AZURE_OPENAI_EMBEDDING_NAME }}
{% endif %}
{% if USE_AOAI_EMBEDDINGS %}
AZURE_OPENAI_EMBEDDING_ENDPOINT={{ AZURE_OPENAI_ENDPOINT }}/openai/deployments/ada/embeddings?api-version=2023-03-15-preview
{% if not USE_MI %}
AZURE_OPENAI_EMBEDDING_KEY={{ AZURE_OPENAI_KEY }}
{% endif %}
{% endif %}
{% if ENABLE_CHAT_HISTORY %}
AZURE_COSMOSDB_ACCOUNT={{ AZURE_COSMOSDB_ACCOUNT }}
AZURE_COSMOSDB_DATABASE={{ AZURE_COSMOSDB_DATABASE }}
AZURE_COSMOSDB_CONVERSATIONS_CONTAINER={{ AZURE_COSMOSDB_CONVERSATIONS_CONTAINER }}
AZURE_COSMOSDB_ACCOUNT_KEY={{ AZURE_COSMOSDB_ACCOUNT_KEY }}
AZURE_COSMOSDB_ENABLE_FEEDBACK={{ AZURE_COSMOSDB_ENABLE_FEEDBACK }}
{% endif %}
{% if DATASOURCE_TYPE == "AzureCognitiveSearch" %}
AZURE_SEARCH_SERVICE={{ AZURE_SEARCH_SERVICE }}
AZURE_SEARCH_INDEX={{ AZURE_SEARCH_INDEX }}
AZURE_SEARCH_KEY={{ AZURE_SEARCH_KEY }}
AZURE_SEARCH_SEMANTIC_SEARCH_CONFIG=
AZURE_SEARCH_CONTENT_COLUMNS=content
AZURE_SEARCH_FILENAME_COLUMN=
AZURE_SEARCH_TITLE_COLUMN=
AZURE_SEARCH_URL_COLUMN=
AZURE_SEARCH_VECTOR_COLUMNS=contentVector
AZURE_SEARCH_QUERY_TYPE={{ AZURE_SEARCH_QUERY_TYPE }}
AZURE_SEARCH_PERMITTED_GROUPS_COLUMN={{ AZURE_SEARCH_PERMITTED_GROUPS_COLUMN }}
{% elif DATASOURCE_TYPE == "Elasticsearch" %}
ELASTICSEARCH_ENDPOINT={{ ELASTICSEARCH_ENDPOINT }}
ELASTICSEARCH_ENCODED_API_KEY={{ ELASTICSEARCH_ENCODED_API_KEY }}
ELASTICSEARCH_INDEX={{ ELASTICSEARCH_INDEX }}
ELASTICSEARCH_QUERY_TYPE={{ ELASTICSEARCH_QUERY_TYPE }}
ELASTICSEARCH_CONTENT_COLUMNS=text
ELASTICSEARCH_FILENAME_COLUMN=
ELASTICSEARCH_TITLE_COLUMN=
ELASTICSEARCH_URL_COLUMN=
ELASTICSEARCH_VECTOR_COLUMNS=text_embedding.predicted_value
{% if USE_ELASTICSEARCH_EMBEDDINGS and ELASTICSEARCH_EMBEDDING_MODEL_ID %}
ELASTICSEARCH_EMBEDDING_MODEL_ID={{ ELASTICSEARCH_EMBEDDING_MODEL_ID }}
{% endif %}
{% elif DATASOURCE_TYPE == "AzureCosmosDB" %}
AZURE_COSMOSDB_MONGO_VCORE_CONNECTION_STRING={{ AZURE_COSMOSDB_MONGO_VCORE_CONNECTION_STRING }}
AZURE_COSMOSDB_MONGO_VCORE_DATABASE={{ AZURE_COSMOSDB_MONGO_VCORE_DATABASE }}
AZURE_COSMOSDB_MONGO_VCORE_CONTAINER={{ AZURE_COSMOSDB_MONGO_VCORE_CONTAINER }}
AZURE_COSMOSDB_MONGO_VCORE_INDEX={{ AZURE_COSMOSDB_MONGO_VCORE_INDEX }}
AZURE_COSMOSDB_MONGO_VCORE_CONTENT_COLUMNS={{ AZURE_COSMOSDB_MONGO_VCORE_CONTENT_COLUMNS }}
AZURE_COSMOSDB_MONGO_VCORE_FILENAME_COLUMN=
AZURE_COSMOSDB_MONGO_VCORE_TITLE_COLUMN=
AZURE_COSMOSDB_MONGO_VCORE_URL_COLUMN=
AZURE_COSMOSDB_MONGO_VCORE_VECTOR_COLUMNS={{ AZURE_COSMOSDB_MONGO_VCORE_VECTOR_COLUMNS }}
{% elif DATASOURCE_TYPE == "Pinecone" %}
PINECONE_ENVIRONMENT={{ PINECONE_ENVIRONMENT }}
PINECONE_API_KEY={{ PINECONE_API_KEY }}
PINECONE_INDEX_NAME={{ PINECONE_INDEX_NAME }}
PINECONE_CONTENT_COLUMNS={{ PINECONE_CONTENT_COLUMNS }}
PINECONE_FILENAME_COLUMN=
PINECONE_TITLE_COLUMN=
PINECONE_URL_COLUMN=
PINECONE_VECTOR_COLUMNS={{ PINECONE_VECTOR_COLUMNS }}
{% elif DATASOURCE_TYPE == "AzureMLIndex" %}
AZURE_MLINDEX_NAME={{ AZURE_ML_INDEX_NAME }}
AZURE_MLINDEX_VERSION={{ AZURE_ML_INDEX_VERSION }}
AZURE_ML_PROJECT_RESOURCE_ID={{ AZURE_ML_PROJECT_RESOURCE_ID }}
AZURE_MLINDEX_CONTENT_COLUMNS={{ AZURE_ML_INDEX_CONTENT_COLUMNS }}
AZURE_MLINDEX_FILENAME_COLUMN=
AZURE_MLINDEX_TITLE_COLUMN= 
AZURE_MLINDEX_URL_COLUMN= 
AZURE_MLINDEX_VECTOR_COLUMNS={{ AZURE_ML_INDEX_VECTOR_COLUMNS }}
{% endif %}