@import '../../styles/variables/colors.css';
@import '../../styles/variables/typography.css';

.cardListContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px;
    padding: 20px;
    height: 350px;
    margin-top: 2%;
    margin-bottom: 10%;
}

@media(max-width: 800px) {
    .cardListContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}