name: Docker Image CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Azure Container Registry Login
        uses: Azure/docker-login@v1
        with:
          # Container registry username
          username: ${{ secrets.ACR_USERNAME }}
          # Container registry password
          password: ${{ secrets.ACR_PASSWORD }}
          # Container registry server url
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}

      - uses: actions/checkout@v3
      - name: Build the Docker image
        run:
          docker build . --file WebApp.Dockerfile --tag crhuvepharmaaiprod.azurecr.io/huvepharma-ai-chat:$(date +'%Y-%m-%d')_$GITHUB_RUN_NUMBER;
          docker tag crhuvepharmaaiprod.azurecr.io/huvepharma-ai-chat:$(date +'%Y-%m-%d')_$GITHUB_RUN_NUMBER crhuvepharmaaiprod.azurecr.io/huvepharma-ai-chat:latest;
          docker push crhuvepharmaaiprod.azurecr.io/huvepharma-ai-chat:$(date +'%Y-%m-%d')_$GITHUB_RUN_NUMBER;
          docker push crhuvepharmaaiprod.azurecr.io/huvepharma-ai-chat:latest;
